# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Build / distribution
.dist/
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Editor extension files (do not commit)
*.vsix

# Environment variables / secrets
.env

# Jupyter
.ipynb_checkpoints/